@import url('https://fonts.googleapis.com/css?family=Anton|Cinzel:700|Merriweather:900&display=swap&subset=latin-ext');

.jumbotron {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  color: white;
  background-image: url("../img/blur-book-ori.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 240px 0 200px 0;
  margin-bottom: 50px;
}

#form-container {
  padding-top: 100px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#book-view {
  padding-top: 20px;
  padding-left: auto;
  padding-right: auto;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-text {
  line-height: 3em;
}

#return-button {
  margin: 20px;
}

#table-container {
  padding-top: 20px;
  margin-top: 65px;
}

#table-test-container {
  padding-top: 20px;
  margin-top: 65px;
}

.custom-switch {
  margin: 15px;
  float: right;
}

.clickable-row {
  cursor: pointer;
  background-color: #c5dbff;
}